<div class="input-group">
    <input type="text" class="form-control" ng-keyup="$event.keyCode === 13 && buscar()" ng-model="nombre" placeholder="Nombre usuario, ejm: fernan%padilla"/>
    <span class="input-group-btn">
        <button ng-click="buscar()" type="button" class="btn btn-primary">Buscar</button>
    </span>
</div>  

<hr>

<div>
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Circulo</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.circulo.nombre}}</td>
                <td>{{usuario.activo}}</td>
            </tr>
        </tbody>
    </table>
</div>

